@page "/"

<PageTitle>Staff Speaks</PageTitle>

<h1>Staff Speaks</h1>

<p>Welcome to a safe place for employees to share news about their company.  Our mission is to empower employees to speak up so others can benefit from your point of view.</p>

<ul>
    <li>Private</li>
    <li>Secure</li>
    <li>Anonymous</li>
    <li>Free</li>
    <li>No account or Membership required</li>
</ul>

<h3>Which company do you want to learn more about?  <textbox></textbox>Go!</h3>


<div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Which company do you want to learn more about?</label>
    <input type="search" class="form-control" id="exampleFormControlInput1" placeholder="Company Name, Stock Ticker">
</div>


<b>Latest Posts</b>

<ul>
    <li>This company sucks</li>
    <li>This company is awesome</li>
    <li>This company has best managers</li>
    <li>This RTO sucks</li>
    <li>Play is not fair</li>
    <li>DEI</li>
</ul>



<b>Company List:</b>
<ul>
    <li>A</li>
    <li>B</li>
    <li>C</li>
    <li>D</li>
    <li>E</li>
    <li>F</li>
</ul>
